/* background behind the logo*/

/*
#header {
    background: #1e88e5;
    border-color: #1976d2;
}
*/

/* Background color of the menu */
/*
#sidebar {
  background-color: #546e7a;
}
*/

/* Background color of the menu, when clicked */
/*
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: #E2E2E2;
}
*/