@import url(http://fonts.googleapis.com/css?family=Open+Sans);

pre, code {
  background: #f8f8f8;
  border-radius: 10px;
}

section > ol > li, section > ul > li {
  font-size: 0.80em;
}

section > ol > li > p, section > ul > li > p {
  font-size: 1em;
}

section > blockquote {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.95em;
}
