@import url(http://fonts.googleapis.com/css?family=Ubuntu:500);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

pre, code {
  font-family: 'Droid Sans Mono', sans-serif;
}

section {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Nanum Gothic', serif;
}
